@font-face {
  font-family: Charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
  }

  @font-face {
  font-family: Charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
  }

  @font-face {
  font-family: Charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
  }

  @font-face {
  font-family: Charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
  }

  :root {
    font-size: 18px;
    /*--colorcito: red; custom properties*/
    --white30: white;
    --white20: #A5A3A5;
    --white10: #3A3539;
    direction: ltr;

  }


  body {
    color: var(--white30);
    /*color: var(--colorcito);*/
    font-family: 'Nunito', sans-serif;
    background: #251f24;
;
  }

  a  {
    color: var(--white30);
  }

  header {
    font-size: 14px;
    color: var(--white10);
  }

  header a {
  color: var(--white20);
  text-decoration: underline;
  }

  header {
    color: var(--white20);
  }
  header a:hover {
    color: var(--white30);
  }

  nav details summary{
    font-weight: bold;
  }
h1, h2, h3 {
  font-weight: normal;
}

  h1 {
    font-size: 60px;
    /*text-decoration: underline;*/
    /*font-size: 3.75em;*/
  }
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

pre{
  background: var(--white10);
}

p {
color: var(--white20);
}
  .hero {
    background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /*background-repeat: no-repeat;*/
    /*background-position: left 50px bottom -50px;*/
    /*background-size: cover;*/
  height: 350px;
}

.section-content{
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before{
  content: counter(titleList, decimal);
}
.section-content h3::after{
    content: ' ';
    width: 32px;
    height: 4px;
    background: var(--white30);
    display: inline-block;
}

